@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: white;
}
.section1_bg {
  background: url(../assets/blob-scene-haikei1.svg) no-repeat center center
    fixed;
  background-size: cover;
  position: relative;
}
.section1_bg_mobile {
  background: url(../assets/blob-scene-haikei2.svg) no-repeat center center
    fixed;
  background-size: cover;
  position: relative;
}

.section1_bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 0;

  -webkit-filter: blur(8px);
}
.section2_bg {
  background: url(../assets/blob-scene-haikei1.svg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section2_svg1 {
  /* background: url(../assets/undraw_engineering_team_a7n2.svg) no-repeat center center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section2_svg2 {
  /* background: url(../assets/undraw_engineering_team_a7n2.svg) no-repeat center center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section2_svg3 {
  /* background: url(../assets/undraw_engineering_team_a7n2.svg) no-repeat center center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
